@using ServiceLib.Infrastructure;
@{
    ViewBag.Title = "CallsspList";//
}

@section styles{
    <link rel="stylesheet" href="~/Content/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vuescroll/dist/vuescroll.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/support/calls.css?v=@CrossDApp.LastVersionCode" />
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/numeral.min.js"></script>
    <script src="~/Scripts/vue/vue.min.js?v=@CrossDApp.LastVersionCode"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="~/Content/element-ui/lib/index.js"></script>
    <script src="~/Content/element-ui/lib/umd/locale/ru-RU.js"></script>
    <script src="https://unpkg.com/vuescroll"></script>

    <partial name="X-Templates/Support/Calls/CallsspList" />
    <partial name="X-Templates/Support/Calls/CallspForm" />
    <partial name="X-Templates/App" />

    <script src="~/Scripts/client-apps/common/vue-mixins.js?v=@CrossDApp.LastVersionCode"></script>
    <script src="~/Scripts/client-apps/common/vue-filters.js?v=@CrossDApp.LastVersionCode"></script>
    <script src="~/Scripts/client-apps/common/vue-directives.js?v=@CrossDApp.LastVersionCode"></script>
    <script src="~/Scripts/client-apps/support/callssp/components/callssp-list.js"></script>
    <script src="~/Scripts/client-apps/support/callssp/components/callsp-form.js"></script>
    <script src="~/Scripts/client-apps/support/callssp/routes.js?v=@CrossDApp.LastVersionCode"></script>
    <script src="~/Scripts/client-apps/support/callssp/index.js?v=@CrossDApp.LastVersionCode"></script>
}

<section id="app"></section>
