section#app .el-table thead,
.custom .el-table thead{
    color: #292929;
    font-size: 12px;
    font-weight: 300;
}

section#app .el-table--mini td, 
section#app .el-table--mini th,
.custom .el-table--mini td, 
.custom .el-table--mini th{
    padding: 6px 0;
    vertical-align:top;
}

section#app .el-table, 
.custom .el-table{
    color: #292929;
}

section#app .el-table__row.delete,
.custom .el-table__row.delete  {
    /*color: #a7a7a7;*/
    text-decoration: line-through;
}

section#app .el-icon-more.vertical {
    transform: rotate(90deg);
    cursor: pointer;
}

section#app .full-width,
.custom .full-width {
    width: 100%;
}

section#app .auto-width,
.custom .auto-width {
    width: auto;
}

section#app .check-box-text-small .el-checkbox__label,
.custom .check-box-text-small .el-checkbox__label{
    font-size: 12px;
}

.el-select-dropdown__item {
    height: auto;
    line-height: 1.2;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.el-select-dropdown__item .primary{

}

.el-dropdown-menu {
    overflow-x: hidden;
}

.el-select-dropdown__item .secondary{
    color: #a7a7a7;
    font-size: 12px;
    font-style: italic;
}

.el-select-dropdown__item.selected {
    color: #292929;
}

section#app .product-wrapper,
.custom .product-wrapper {
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #a7a7a7;
    padding: 10px;
    margin-bottom: 15px;
}

section#app .product-wrapper .product-wrapper-header,
.custom .product-wrapper .product-wrapper-header {
    font-size: 12px;
    color: #818181;
    margin-bottom: 5px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

section#app .product-wrapper .product-wrapper-header .delete-button,
.custom .product-wrapper .product-wrapper-header .delete-button {
    padding: 0;
    color: #818181;
}
section#app .product-wrapper .product-wrapper-header .delete-button:hover,
.custom .product-wrapper .product-wrapper-header .delete-button:hover {
    padding: 0;
    color: #c20101;
}

section#app .el-table .position-link,
.custom .el-table .position-link,
.recipe-list-item .netto-value {
    cursor: pointer;
    color: #409EFF;
    border-bottom: 1px solid #409EFF;
    display: block;
}

.position-caption{
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}


section#app .el-button-group,
.custom .el-button-group{
    display: flex;
}

section#app .link,
.custom .link{
    color: #292929;
}

section#app .link:hover,
.custom .link:hover{
    color:#409EFF;
}

/*tech-card-app*/
section#app .tool-bar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

section#app .tool-bar .search-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-right: 10px;
}

section#app .technology-card-app .tool-bar .el-button {
    margin-right: 10px;
}

section#app .el-card {
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    font-size: 12px;
}

section#app .el-card .el-card__header {
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
}

section#app .el-card .el-card__body{
    padding: 10px;
    height: 200px;
    overflow: hidden;
}

section#app .el-card .el-card__body .caption {
    margin-bottom: 4px;
    color: #808080;
    font-size: 11px;
}

a.action-link {
    text-decoration:none;
    color: #606266;
    display: block
}

a.action-link:hover {
    text-decoration:none;
    color: #66b1ff;
}

/* recipe list */
.recipe-list .tool-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.recipe-list .search-container {
    display:flex;
    flex-direction: row;
    width:400px !important;
    align-items: center;
    justify-content: space-between;
    align-self:flex-end;
    margin-right: 0px !important;
}

.recipe-list label.el-checkbox,
.technology-card-app label.el-checkbox{
    margin-bottom: 0;
    display: flex;
    align-items:center;
   
}

.recipe-list label.el-checkbox.small-font .el-checkbox__label,
.technology-card-app label.el-checkbox.small-font .el-checkbox__label{
    font-size: 13px;
}

/* recipe list-item */
.recipe-list-item {
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 0 0 3px 0 #c1c1c1;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    border-left: 3px solid #47a300;
}

.recipe-list-item:hover {
    box-shadow: 0 0 10px 0 #c1c1c1;
}

.recipe-list-item.is-archive {
    border-left: 3px solid #c1c1c1;
}

.recipe-list-item .body {
    flex-grow: 1;
}


.recipe-list-item .actions {
    display:flex;
    align-items: center;
}
.recipe-list-item .body .recipe-name{
    color: #292929;
    margin-bottom:5px;
    font-weight: bold;
    font-size: 12px;
}

.recipe-list-item .body .recipe-source {
    color: #808080;
    line-height: 1.2;
    margin-bottom: 3px;
    font-size: 12px;
}

.recipe-list-item .body .netto {
    font-size: 12px;
}

.recipe-list-item .netto-value {
    display: inline;
}

.recipe-list-item.mini {
    margin-bottom: 2px;
    padding: 1px 1px 1px 3px;
    box-shadow: 0 0 3px 0 #c1c1c1;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    border-left: 2px solid #47a300;
}

.recipe-list-item.mini .body .recipe-name {
    color: #292929;
    margin-bottom: 0 !important;
    font-weight:normal;
    font-size: 11px;
}

.recipe-list-item.mini .el-dropdown {
    font-size: 11px;
    line-height: 11px;
}

/*product form*/

.product-form {

}

.product-form .no-percent-value{
    font-size: 11px;
}

/*products list*/
.products-list .action-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products-list .action-panel .warning-message-box {
    display: flex;
    flex-direction: row;

}

.products-list .action-panel .warning-message-box .warning-message {
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid #f56c6c;
    color: #f56c6c;
    border-radius: 3px;
    padding: 0 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.products-list .action-panel .warning-message-box .warning-message .icon {
    margin-right: 5px;
}